.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #1d2938;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.ErrorMessage-text {
  color: crimson;
}

.App-text-input {
  border-radius: 0.2em;
  border: none;
  padding: 1em;
  height: 15px;
  font-size: calc(10px + 2vmin);
  text-transform: uppercase;
}

.App-button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.2em;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: calc(10px + 2vmin);
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
}

.App-button:hover {
  color: #000000;
  background-color: #4095c6;
}

@media all and (max-width: 30em) {
  .App-button {
    display: block;
    margin: 0.2em auto;
  }
}

.hidden {
  display: none;
}

.Prompt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  transform: translateY(-10vh);
}

.TextPrompt-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.TextPrompt-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  align-items: stretch;
}

.TextPrompt-field > * {
  flex: 1;
}

.TextPrompt-submit {
  margin: 0.5em;
  padding: 0.5em;
  width: 10em;
}

.TextPrompt-label {
  font-size: calc(10px + 4vmin);
  margin: 0px;
  padding: 1vmin;
  flex: 3;
}

.TextPrompt-input {
  padding: 1em;
  margin: 1em;
  flex: 4;
}

/* responsive TextPrompt form: move label inline for large screens */
@media screen and (min-width: 800px) {
  .TextPrompt-field {
    flex-direction: row;
    align-items: center;
    align-content: space-between;
  }

  .TextPrompt-label {
    order: -1;
    text-align: start;
  }
}

.MultiChoicePrompt-label {
  font-size: calc(10px + 4vmin);
  margin: 1em;
  padding: 1vmin;
}

.MultiChoicePrompt-container {
  list-style-type: none;
  padding: 1vw;
}

.MultiChoicePrompt-item {
  flex: 1;
}
